<a href="https://colab.research.google.com/github/mengzhongjack/WeChat_Big_Data_Challenge/blob/master/demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%cd /content/drive/MyDrive/wechat_match

/content/drive/MyDrive/wechat_match

In [29]:
!ls -l

total 20
drwx------ 3 root root  4096 May 25 13:37 data
-rw------- 1 root root  5069 May 25 13:01 demo.ipynb
-rw------- 1 root root 11112 May 25 13:25 附件：赛题描述——微信视频号推荐算法.md

In [ ]:
# # !ls -l
# !unzip wechat_algo_data1.zip

Archive:  wechat_algo_data1.zip
replace wechat_algo_data1/test_a.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
import pandas as pd

In [30]:
df_feed_embeddings = pd.read_csv("./data/wechat_algo_data1/feed_embeddings.csv")
df_feed_info = pd.read_csv("./data/wechat_algo_data1/feed_info.csv")
df_feed_info = pd.read_csv("./data/wechat_algo_data1/feed_info.csv")
df_feed_info = pd.read_csv("./data/wechat_algo_data1/submit_demo_初赛a.csv")

In [31]:
df_feed_embeddings.head()

   feedid                                     feed_embedding
0   46022  -0.02032269 0.06095614 0.11057708 0.03385210 0...
1   73903  -0.07594238 0.01796364 -0.00135112 -0.00333468...
2   88646  -0.05067272 -0.08208735 -0.01929738 -0.0150182...
3   24381  -0.06976026 0.00218324 0.04416835 0.06146711 -...
4   41542  -0.04981736 -0.03523079 0.03022859 0.06672543 ...

In [32]:
df_feed_info.head()

   userid  feedid  read_comment      like  click_avatar   forward
0   14298   67227      0.880075  0.483832      0.722144  0.563880
1   68356   91864      0.769031  0.929535      0.186520  0.257904
2   49925  104657      0.932616  0.405896      0.142349  0.284657
3   60529   23738      0.143770  0.550933      0.316308  0.159592
4  131482   69038      0.139427  0.051200      0.295990  0.092229